@font-face {
        font-family: 'English';
        src: url('english.eot');
        src: url('english.eot?#iefix') format('embedded-opentype'),
             url('english.woff') format('woff'),
             url('english.ttf') format('truetype'),
             url('english.svg#english') format('svg');
        font-weight: normal;
        font-style: normal;
    }

body
{
	color:#c6c869;
  background-color:#0c4334;
}

a
{
	color:#c6c869;
}

nav
{
	padding:0;
	font-family:English;
	font-size:2em;
}
nav ul
{
	list-style-type:none;
	margin:0;
	padding:0;
}
nav li:hover
{
	background-color:#c6c869;
	border-radius:5px 5px 5px 5px;
	color:black;
}
nav a
{
	padding:10px;
	padding-left:25px;
	display:block;
	width:100%;
	text-decoration:none;
}
nav a:hover
{
	color:black;
	text-decoration:none;
}

.hero-unit
{
	color:black;
}

header
{
  padding-top:2%;
  padding-left:2%;
}

header h1
{
  font-family:English;
  font-size:5em;
}
header .small
{
	font-family:English;
	font-size:2em;
	margin-left:1.5em;
}

#content
{
	
}

footer
{
	font-family:English;
	font-size:1.5em;
	width:100%;
	position: absolute;
	bottom: 0;
}
footer ul
{
	width:35%;
	margin:auto;
	list-style-type:none;
}
footer li
{
	display:inline-block;
}
footer li + li
{
	margin-left:10px;
	padding-left:20px;
	border-left:solid #c6c869 1px;
}