{% extends 'layout.html' %}

{% block title %}Accueil{% endblock %}

{% block content %}

<div class="row-fluid">
	<div class="span5 offset3">
		<h2>Salon d'Eugénie</h2>
	</div>
</div>
<div class="row-fluid">
	<div class="span5 offset1">
		<blockquote>
    		<p>Etre un homme ou une femme de thé, c'est être le médecin de son esprit</p>
    		<small>John Blofeld</small>
    		<p>On boit le thé pour oublier le bruit du monde</p>
    		<small>T'ien Yi-Heng</small>
    	</blockquote>

	</div>
</div>
<div class="row-fluid">
  <p>
  
  </p>
</div>

{% endblock %}