{% extends async ? 'async-layout.html' : 'layout.html' %}

{% block title %}Contact{% endblock %}

{% block content %}

<div class="row-fluid">
  <div class="span5">
    <h1>Contact</h1>
  </div>
</div>
<div class="row-fluid">
 
  		<div class="span7">
			- 16 rue des Lois - <br/>
			- 31000 Toulouse - <br/><br/>
			- Tél. 05 06 30 84 52 - <br/><br/><br/>

			<i>ouvert du Lundi au Samedi de 11h45 à 19h00</i>


			
		</div>

  <div class="span4">
  
		<img alt="" src="{{ images() }}/position_geo.png" /> 
  		<a href="https://maps.google.fr/maps?q=16+Rue+des+Lois,+Toulouse&hl=fr&ie=UTF8&sll=43.605412,1.442086&sspn=0.007909,0.021136&oq=16+rue+des+lo&hnear=16+Rue+des+Lois,+31000+Toulouse,+Haute-Garonne,+Midi-Pyr%C3%A9n%C3%A9es&t=m&z=16" 
			TARGET=_BLANK> 
				Agrandir le plan
			</a>
  </div>

</div>

{% endblock %}