{% extends async ? 'async-layout.html' : 'layout.html' %}

{% block title %}Galerie Photos{% endblock %}

{% block content %}

<div class="row-fluid">
  <h1>Galerie Photos</h1>
	<div class="row-fluid span10 offset1">
		
		<ul class="gallerie">
		 {% for i in 1..19%}
		 <li> 
		 	<a href="#{{ i }}" class="openModal"> 
		 		<img src="{{ images() }}/{{ i }}.jpg" alt="" /> 	 
		 	</a>
		 </li> 
		 {% endfor %}
		 </ul>
	
		{% for i in 1..19%}
			<aside id="{{ i }}" class="modal">
				<div>
					<a href="#"> 
						<img src="{{ images() }}/{{ i }}.jpg" alt="" /> 
					</a> 
					<a href="#close" title="Close">Close</a>
				</div>
			</aside>
		{% endfor %}
	</div>
</div>
{% endblock %}