{% extends async ? 'async-layout.html' : 'layout.html' %}

{% block title %}Accueil{% endblock %}

{% block header_photo %}accueil.jpg{% endblock %}

{% block content %}

{{ parent() }}

<div class="row-fluid">
	<h1>Plaisir, bavardage et grignotage sans modération !</h1>
</div>
<div class="row-fluid">
	<div class="span7 offset2 justifier">
	 <p class="lettrine">
	   Au regard de la &laquo;mal-bouffe&raquo; et de l'engouement pour les produits naturels et faits maison, <strong>Le salon d’Eugénie</strong>, a deux pas de la magnifique <em>place du Capitole</em> propose un lieu mêlant a la fois bien être, saveurs et dégustation dans un décor <em>so British</em>.
	 </p>
	 <p class="lettrine">
		Lors de votre pause déjeuner vous serez acceuilli pour découvrir les differentes formules salées :
		tartes , tartines et salades réalisées par notre Chef.
	 </p>
	 <p class="lettrine">
		Vous pourrez pousuivre et apprécier votre decouverte toute au long de l'après-midi avec notre carte sucrée servie dans une porcelaine anglaise raffinée :
	 </p>
	 <ul>
	   <li>Nos pâtisseries maison dans la pure tradition de nos Grands-Mères</li>
	   <li>Une selection de 42 thés aux parfums originaux</li>
		 <li>De mombreux chocolats aromatisés a l'ancienne</li>
		 <li>Chocolat viennois</li>
		 <li>Des cafés du monde aux senteurs délicates</li>
	   <li>Café viennois</li>
	   <li>
	       Un large choix de boissons fraîches, jus de fruits pressés, sodas, glaces...<br/>
		     smoothies aux fruits de saison,<br/>
		     Milk-shakes
		 </li>
		</ul>
		<strong style="text-align:center;">
			Nos pâtisseries peuvent être consommées sur place ou à emporter.
		</strong>
	</div>
</div>

{% endblock %}