<!DOCTYPE html>
<html lang="fr" class="intro">
<head>
	<meta charset="utf-8" />
	
	<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  
  <link rel="stylesheet" href="{{ css() }}/global.css" />
  
</head>

<body class="intro">
<div id="content-row" class="intro">
  <div id="content" class="intro">
    <div class="imageIntro" position="1" main_image="{{ images() }}/logo/logoIntro.png" alt_image="{{ images() }}/facade.jpg">
    </div>
    <a href="{{ queries('index', 'show', {}) }}" class="ecriture">Accéder au site</a>
  </div>
</div>

<script src="{{ templates() }}/js/jquery-1.8.3.js"></script>
<script src="{{ templates() }}/js/History.js/scripts/bundled/html4+html5/jquery.history.js"></script>
<script src="{{ templates() }}/js/global.js"></script>

</body>
</html>