{% extends 'layout.html' %}

{% block title %}Accueil{% endblock %}

{% block content %}

<div class="row-fluid">
	<div class="span5 offset3">
		<h2>Salon d'Eugénie</h2>
	</div>
</div>
<div class="row-fluid">
	<div class="span5 offset1">

      <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.fr/maps?layer=c&amp;sll=43.605425,1.442107&amp;cid=-1570868983275061884&amp;panoid=A6k22U2bw37hi_tHcheqrQ&amp;cbp=13,51.8,,0,-6.44&amp;q=salon+d'eugenie&amp;ie=UTF8&amp;hq=salon+d'eugenie&amp;hnear=&amp;ll=43.605425,1.442107&amp;spn=0.006295,0.006295&amp;t=m&amp;cbll=43.605363,1.442114&amp;source=embed&amp;output=svembed"></iframe><br /><small><a href="https://www.google.fr/maps?layer=c&amp;sll=43.605425,1.442107&amp;cid=-1570868983275061884&amp;panoid=A6k22U2bw37hi_tHcheqrQ&amp;cbp=13,51.8,,0,-6.44&amp;q=salon+d'eugenie&amp;ie=UTF8&amp;hq=salon+d'eugenie&amp;hnear=&amp;ll=43.605425,1.442107&amp;spn=0.006295,0.006295&amp;t=m&amp;cbll=43.605363,1.442114&amp;source=embed" style="color:#0000FF;text-align:left">Agrandir le plan</a></small>

	</div>
</div>
<div class="row-fluid">
  <p>
  
  </p>
</div>

{% endblock %}