<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="utf-8" />
	<meta name="google-site-verification" content="EeJ9tWzDExRTywGKoHTWCol4muXNdP-aPnresyN1SAQ" />
	
	<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
    
  <link rel="stylesheet" href="{{ bootstrap() }}/css/bootstrap.min.css" />
  
  <link rel="stylesheet" href="{{ fontAwesome() }}/css/font-awesome.min.css" />
  <!-- [if lt IE 8]>
   <link rel="stylesheet" href="{{ fontAwesome() }}/css/font-awesome-ie7.min.css" />
  <![endif] -->
  
  <link rel="stylesheet" href="{{ css() }}/global.css" />
  <link rel="stylesheet" href="{{ css() }}/menu_tiroir.css" />
  <link rel="stylesheet" href="{{ css() }}/gallerie.css" />
  
  <style type="text/css">
    .main {
      padding-top: 60px;
      padding-bottom: 40px;
    }
  </style>
	 
	<title>{% block title %}{% endblock %} - Le salon d'Eugénie</title>
	
	<meta name="description" content="Salon de thé, glaces, patisseries" />
  <meta name="keywords" content="Salon, Eugénie, Thé, Glace, Patisserie, Toulouse" />
	
</head>

<body>

<header>
  <a href="{{ queries('','',{}) }}" id="headerTitre">
    <h1>Le salon<br/>&nbsp;&nbsp;&nbsp;d'Eugénie</h1>
    <p class="small">Salon de thé, glaces, patisseries</p>
  </a>
  <div id="photo-slideshow">
  </div>
  <div id="mainLogo">
	 <img src="{{ images() }}/logo/logo-poupee.png" alt="Logo Eugénie" />
	</div>
</header>

<div class="main container-fluid" style="padding-top:1%;">
  <div class="row-fluid">
    <nav class="span2">
      <ul class="side-menu">
        <li><a href="{{ queries('index','show',{}) }}">Acceuil</a></li>
        <li><a href="{{ queries('index','visite',{}) }}">Visiter</a></li>
        <li><a href="{{ queries('index','thes',{}) }}">Thés</a></li>
        <li><a href="{{ queries('index','patisseries',{}) }}">Patisseries</a></li>
        <li><a href="{{ queries('index','menus',{}) }}">Menus</a></li>
        <li><a href="{{ queries('index','galerie',{}) }}">Galerie Photos</a></li>
        <li><a href="{{ queries('index','livredor',{}) }}">Livre d'or</a></li>
        <li><a href="{{ queries('index','contact',{}) }}">Nous contacter</a></li>
      </ul>
    </nav>
    <div id="content-row" class="span10">
	    <div id="content">
	      {% block content %}
	      {% endblock %}
	    </div>
    </div>
  </div>
</div>

<footer>
<div class="row-fluid">
  <div class="offset2">
		<ul>
		  <li><a class="unstyled" href="#">Mentions légales</a></li>
		  <li><a class="unstyled" href="{{ queries('administrateur','connexion',{}) }}">Connexion</a></li>
		</ul>
	</div>
</div>
</footer>

<script src="{{ templates() }}/js/jquery-1.8.3.js"></script>
<script src="{{ templates() }}/js/History.js/scripts/bundled/html4+html5/jquery.history.js"></script>
<script src="{{ bootstrap() }}/js/bootstrap.min.js"></script>
<script src="{{ templates() }}/js/global.js"></script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-40782571-1', 'lesalondeugenie.fr');
  ga('send', 'pageview');

</script>

</body>
</html>