<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="utf-8" />
	
	<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
    
  <link rel="stylesheet" href="{{ bootstrap() }}/css/bootstrap.min.css" />
  
  <!-- Ajoute la compatibilité avec les téléphones -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="{{ bootstrap() }}/css/bootstrap-responsive.css" rel="stylesheet">
  
  <link rel="stylesheet" href="{{ css() }}/global.css" />
  
  <link rel="stylesheet" href="{{ css() }}/font-awesome.min.css" />
  <!-- [if lt IE 8]>
   <link rel="stylesheet" href="{{ css() }}/font-awesome-ie7.min.css" />
  <![endif] -->
  
  <style type="text/css">
    .main {
      padding-top: 60px;
      padding-bottom: 40px;
    }
  </style>
	 
	<title>{% block title %}{% endblock %} - Le salon d'Eugénie</title>
</head>

<body>

<header>
<h1>Le Salon D'Eugénie</h1>
<p class="small">Salon de thé, glaces, patisseries</p>
</header>

<div class="main container-fluid">
  <div class="row-fluid">
    <nav class="span2">
      <ul>
        <li><a href="#">Thés</a></li>
        <li><a href="#">Patisseries</a></li>
        <li><a href="#">Menus</a></li>
        <li><a href="#">Galerie Photos</a></li>
        <li><a href="#">Livre d'or</a></li>
        <li><a href="#">Nous contacter</a></li>
      </ul>
    </nav>
    <div class="span9 offset1">
      {% block content %}
      {% endblock %}
    </div>
  </div>

</div>

<footer>
<ul>
  <li>Mentions légales</li>
  <li>Crédits</li>
  <li>Connexion</li>
</ul>
</footer>

<script src="{{ templates() }}/js/jquery-1.8.3.js"></script>
<script src="{{ bootstrap() }}/js/bootstrap.min.js"></script>
<script src="{{ templates() }}/js/global.js"></script>

</body>
</html>