<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="utf-8" />
	
	<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
    
  <link rel="stylesheet" href="{{ bootstrap() }}/css/bootstrap.min.css" />
  
  <!-- Ajoute la compatibilité avec les téléphones -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="{{ bootstrap() }}/css/bootstrap-responsive.css" rel="stylesheet">
  
  
  <link rel="stylesheet" href="{{ fontAwesome() }}/css/font-awesome.min.css" />
  <!-- [if lt IE 8]>
   <link rel="stylesheet" href="{{ fontAwesome() }}/css/font-awesome-ie7.min.css" />
  <![endif] -->
  
  <link rel="stylesheet" href="{{ css() }}/global.css" />
  <link rel="stylesheet" href="{{ css() }}/menu_tiroir.css" />
  <link rel="stylesheet" href="{{ css() }}/gallerie.css" />
  
  <style type="text/css">
    .main {
      padding-top: 60px;
      padding-bottom: 40px;
    }
  </style>
	 
	<title>{% block title %}{% endblock %} - Le salon d'Eugénie</title>
</head>

<body>

<header>
  <a href="{{ queries('','',{}) }}" id="headerTitre">
    <h1>Le salon d'Eugénie</h1>
    <p class="small">Salon de thé, glaces, patisseries</p>
  </a>
  <div id="photo-slideshow">
  </div>
  <div id="mainLogo">
	 <img src="{{ images() }}/logo/logo-poupee.png" alt="Logo Eugénie" />
	</div>
</header>

<div class="main container-fluid" style="padding-top:1%;">
  <div class="row-fluid">
    <nav class="span2">
      <ul class="side-menu">
        <li><a href="{{ queries('index','show',{}) }}">Acceuil</a></li>
        <li><a href="{{ queries('index','visite',{}) }}">Visiter</a></li>
        <li><a href="{{ queries('index','thes',{}) }}">Thés</a></li>
        <li><a href="{{ queries('index','patisseries',{}) }}">Patisseries</a></li>
        <li><a href="{{ queries('index','menus',{}) }}">Menus</a></li>
        <li><a href="{{ queries('index','galerie',{}) }}">Galerie Photos</a></li>
        <li><a href="{{ queries('index','livredor',{}) }}">Livre d'or</a></li>
        <li><a href="{{ queries('index','contact',{}) }}">Nous contacter</a></li>
      </ul>
    </nav>
    <div id="content-row" class="span10">
	    <div id="content">
	      {% block content %}
	      {% endblock %}
	    </div>
    </div>
  </div>
</div>

<footer>
<div class="row-fluid">
	<ul>
	  <li><a class="unstyled" href="#">Mentions légales</a></li>
	  <li>Crédits</li>
	  <li>Connexion</li>
	</ul>
</div>
</footer>

<script src="{{ templates() }}/js/jquery-1.8.3.js"></script>
<script src="{{ bootstrap() }}/js/bootstrap.min.js"></script>
<script src="{{ templates() }}/js/global.js"></script>

</body>
</html>